* {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin: 0;
}

.App {
	background-color: rgb(32, 43, 62);
	padding-bottom: 5vh;
}

/* Desktop */
@media screen and (min-width: 1280px) {
	.App {
		border: 1px solid rgb(32, 43, 62);
	}
}
