header {
    background-image: linear-gradient(to right, rgb(63, 162, 219), rgb(182, 135, 255));
    color: white;
    padding-bottom: 2vh;
    padding-top: 2vh;
    text-align: center;
}

/* Desktop */
@media screen and (min-width: 1280px) {
    header {
        border-radius: 15px;
        font-size: 40px;
        margin-left: 10%;
        margin-top: 3vh;
        width: 80%;
    }
}

@media screen and (max-width: 1279px) {
    header {
        font-size: 3rem;
    }
}

/* iPhone Xr */
@media screen and (max-width: 414px) {
    header {
        font-size: 2rem;
    }
}
